<!DOCTYPE html>
<html>

<head lang="es">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    {% load static %}
</head>
<body>
    <nav top section class="navbar navbar-expand-lg" style="box-shadow: 6px 15px 20px Gainsboro">
        <div class="container-fluid">
          <a class="navbar-brand text-black text-center"  href="#"><i class="fa-solid fa-kitchen-set"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active text-black text-center " aria-current="page" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-black text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item text-center" href="{% url 'welcome' %}">Mi Cuenta</a></li>
                  <li><a class="dropdown-item text-center" href="{% url 'salir' %}">Cerrar sesión</a></li>
                  
                  {% else %}  
                  <li><a class="dropdown-item text-center" href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</body>
{%block content%}
{%endblock%}

<footer>
    <footer class="bg-dark text-white pt-5 pb-4 down" >
        <div class="container text-center text-md-left">
          <div class=" text-center text-md-left row">
            <div class="col-md-12 col-xl-3 mx-auto mt-3">
              <h5 id="h5" class="text-uppercase mb-4 font-weight-bold ">Turismo Real</h5>
              <p id="P">Empresa familiar</p>
            </div>
</footer>
</html>